.layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__header {
    width: 100%;
    max-width: 100vw;
  }

  &__page {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    width: 100%;
  }

  &__breadcrumbs {
  }

  &--default & {
    $header-top-offset-desktop: 0px;

    &__header {
      position: fixed;
      top: rem($header-top-offset-desktop);
      left: 0;
      right: 0;
      z-index: $z-header;
    }

    &__meta {
      margin-top: rem($gap-medium);
      margin-bottom: rem($gap-big);
    }

    &__page {
      @include container;

      padding-top: rem($gap-medium);
      margin-top: rem(calc($header-height-desktop + $header-top-offset-desktop));

      &-title {
        @include text-xl;

        text-transform: uppercase;
      }
    }

    &__breadcrumbs {
      margin-top: rem($gap-tiny);
    }
  }
}
