.el-dropdown {
  &-menu {
    z-index: 10;

    padding: rem($gap-micro) 0;

    border-radius: rem($border-radius-minimal);
    background-color: $fill-col-primary;

    &__item {
      line-height: initial;

      display: block;

      padding: 0;

      color: inherit;
    }
  }
}
