.el-tree {
  @include text-normal($font-weight-semibold);

  color: $txt-col-primary;
  background-color: transparent;

  user-select: none;

  &--highlight-current {
    .el-tree-node.is-current > .el-tree-node__content {
      color: $txt-col-accent;
      background-color: transparent;

      &::after {
        @include base-transition;

        transform: scaleX(1);
      }
    }
  }

  &-node {
    &__content {
      position: relative;

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;

      height: fit-content;

      margin-bottom: rem($gap-small);

      &:hover,
      &:focus {
        background-color: transparent !important;
      }

      &::after {
        @include absolute-all-null;

        transform: scaleX(0);
        border-bottom: 1px solid $border-col-secondary;

        content: '';
      }

      &:hover {
        &::after {
          @include base-transition;

          transform: scaleX(1);
        }
      }
    }

    &__expand-icon {
      @mixin bg($enc-col) {
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0015 16.3006C11.4295 16.3006 10.8581 16.0801 10.425 15.6471L3.90504 9.12707C3.8103 9.03233 3.8103 8.86892 3.90504 8.77418C3.99978 8.67944 4.16319 8.67944 4.25793 8.77418L10.7779 15.2942C11.4532 15.9694 12.5498 15.9694 13.225 15.2942L19.745 8.77418C19.8398 8.67944 20.0032 8.67944 20.0979 8.77418C20.1927 8.86892 20.1927 9.03233 20.0979 9.12707L20.4515 9.48062L20.0979 9.12707L13.5779 15.6471C13.1449 16.0801 12.5735 16.3006 12.0015 16.3006Z" fill="#{$enc-col}" stroke="#{$enc-col}"/></svg>');
      }

      $color: $txt-col-secondary;
      $enc-color: encodecolor($color);

      @include bg($enc-color);

      width: rem(24px);
      height: rem(24px);

      margin-right: rem($gap-tiny);

      background-size: contain;

      &.expanded {
        $color: $txt-col-secondary;
        $enc-color: encodecolor($color);

        @include bg($enc-color);

        transform: rotate(180deg);
      }

      svg {
        display: none;
      }
    }

    &__content > &__expand-icon {
      padding: 0;
    }
  }
}
